

$white : #ffffff;
$black : #000000;
$purple: #c215bf;
$red:    #e83225;
$blue:   #0d07b5;
$green:  #07b524;
$orange: #c27304;
$yellow: #d8e307;
$cyan:   #099cbd;

$light-gray: #eeeeee;
$dark-gray:  #444444;